@media screen and (max-width:576px){

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #232528;
    margin: 0 auto;
    width: 576px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;  

}
header img {
    width: 95px;
}

nav a {
    font-family: belleza;
    color: #fcfcfcfc;
    display: inline-block;
    align-items: center;
    margin: 20px;
    font-size: 20px;
    text-decoration: none;
}
header nav a:hover {
    color: #6320EE;
    transition: 0.4s;
}
header nav a#cadastrar {
    color: #fcfcfcfc;
    border: 2px solid #6320EE;
    border-radius: 20px;
    padding: 12px 12px; 
}
header nav a#cadastrar:hover {
    background-color: #6320EE;
    transition: 0.6s;
}
main {
    display: flex;
    flex-direction: row;
    color: aliceblue;
    justify-content: space-between;
    margin: 0 auto;
    width: 576px;
}

article img{
    width: 0px;
}
article#divcad{
    margin-left: 15px;
}
article#divcad input {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: none;
    width: 300px;
    height: 30px;
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px;

}
article#divcad h1 {
    font-family: horizon;
    font-size: 40px;
}

article#divcad h2 {
    font-family: spartan;
    font-size: 33px;
}

article#divcad h3 {
    font-family: opensans;
    width: 500px;
    font-size: 15px;
}

article#divcad input#roxo {
    width: 160px;
    height: 50px;
    background-color: #6320EE;
    font-size: 16px;
    color: aliceblue;
}

article#divcad input#roxo:hover {
    cursor: pointer;
    border: 1px solid white;
    transition: 0.3s;
}

article#daimg{
    text-align: right;
    font-size: 0px;
}

article#daimg h1{
    text-align: right;
    font-size: 0px;
}

article#daimg h2{
    margin-right: 25px;
}

.roxo{
    color: #6320EE;
}

footer {
    margin-bottom: 10px;
    font-size: 10px;
    font-family: opensans;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #232528;
    color: white;
    text-align: center;
}






}